@charset "utf-8";

/* header begins */
header {
    background-color: #e2e2e5;
    position: fixed;
    top: 0px;
    width: 100%;
}

.header-div {
    display: flex;
    height: 60px;
    width: 100%;
    vertical-align: middle;
}

.header-div h1 {
    font-size: 44px;
    padding-left: 10px;
    line-height: 60px;
    font-family: 'Fuggles', cursive;
    font-weight: 600;
}

.nav-div{
    width: 100%;
    display: flex;
    justify-content: end;
}

.user-icon{
    margin-left: 50px;
    float: right;
}

.user-icon i{
    color: black;
}

.header-icon {
    display: flex;
}

.header-div i {
    line-height: 60px;
    padding-right: 20px;
    padding-left: 10px;
}

.menu {
    display: none;
    margin-right: 10px;
    justify-content: space-between;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}

.navSpan {
    line-height: 60px;
    position: relative;
    top: 3px;
    padding: 10px;

}

.navSpan a {
    font-size: 18px;
    color: black;
}

a:hover {
    color:rgb(149, 143, 143);
    
}


.sub-menu {
    display: none;
    position: absolute;
    height: 120px;
    width: 120px;
    flex-wrap: wrap;
    top: 45px;
    right: 10px;
}

.sub-menu span {
    width: 100%;
    text-align:left;
    line-height: 50px;
    padding-left: 10px;
    color: black;
    background-color:#e9f2f9;
}

.sub-menu span:hover {
    background-color: #d4e6f4;
}

#menu-icon i {
    line-height: 60px;
}

#menu-icon:hover .sub-menu {
        display: flex;
}

/* header ends */


/* footer begins */
footer {
    height: 60px;
    background-color: #e2e2e5;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer .container {
    display: flex;
    justify-content: space-between
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}


.footer-nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    padding: 5px;
}

.footer-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav i{
    color: black;
}

.footer-icon {
    height: 30px;
    width: 30px;
    background-color: #eaf1f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2px 5px;
}


.authors-div {
    width: 420px;
    justify-content: flex-end;
    display: flex;
    color: grey;
}

.authors-div span {
    line-height: 60px;
    margin-right: 20px;
    overflow: hidden;
}


/* footer ends */


/* main starts **/
main {
    margin-top: 60px;
}


.mainSection1 {
    height: calc(100vh - 68px);
    display: flex;
    border-bottom: 1px solid #000;
}

.mainSection2 {
    height: calc(100vh - 280px);
    display: flex;
    border-bottom: 1px solid #000;
}

.leftDiv, .rightDiv {
    width: 50%;
    margin-top: 60px;

}

.slogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 800;
}

.slogan2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}


.personalPicture {
    background-image: url('../Img/personalPicture.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.lineDiv {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.lineDiv div {
    margin: 5px 5px;
    padding-right: 5px;
}

.contentDiv p{
    margin-right: 10px;
}

.attributeDiv {
    background-color: darkgray;
    color: black;
    width: 160px;
    text-align: right;
}
.educationT{
    margin-top: 40px;
}


.lineDiv p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.contentDiv {
    color: #000;
    display: flex;
}

.myIntroduction {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-bottom: 40px;
}

.companies {
    height: 120px;
    display: flex;
    align-items: center;
}

.company1, .company2 {
    border-radius: 5px;
    background-size: 100% 100%;
}

.firstCompanyDiv{ 
    height: 120px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.company1 {
    width: 120px;
    height: 60px;
    background-image: url('../Img/kingdee.png');
    margin-right: 20px;
}

.company2 {
    width: 120px;
    height: 120px;
    background-image: url('../Img/tencent.png');
}

.nameText, .eMailText {
    height: 30px;
    width: 45%;
    margin-top: 15px;
}

.multilineInput {
    resize: none;
    width: calc(90% + 5px);
    height: 150px;
    margin-top: 15px;
}

.sendBtn {
    height: 60px;
    width: 120px;
    margin-top: 15px;
}

.phoneDiv {
    height: 30px;
    display: flex;
    place-items: center;
}

.phoneDiv p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 30px;
}
.phoneDiv i {
    margin: 0px 5px;
}

.sendDiv {
    width: calc(90% + 5px);
    text-align: right;
}

/* main ends */


/* browser size change reaction */
@media screen and (max-width:768px) {
    .header-div span {
        display: none;
    }

    .menu span {
        display: block;
    }

    header .menu {
        display: flex;
    }

    .mainSection1, .mainSection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .mainSection1 {
        height: calc(200vh - 34px);
    }

    .mainSection2 {
        height: calc(100vh - 140px);
    }

    .personalPicture {
        height: calc(200vh - 34px);
        width: 80%;
    }
}

@media screen and (max-width:612px) {
    #aboutMe {
        height: calc(200vh + 320px);
    }

}